/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

/* layout css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_align {
  justify-content: left;
}

.space_between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "header_text header_text header_text header_text header_text header_text"
    "header_img header_img header_img header_img header_img header_img"
    "left1 left1 mid1 mid1 right1 right1";
}

.header_text {
  grid-area: header_text;
}

.header_img {
  grid-area: header_img;
}

.left1 {
  grid-area: left1;
}

.mid1 {
  grid-area: mid1;
}

.right1 {
  grid-area: right1;
}

/* size css */
.width_100 {
  width: 100%;
}

/* colour css */
.bg_marine_blue {
  background-color: #036f8c;
}

.bg_bright_pink {
  background-color: #ff0084;
}

.bg_yellow {
  background-color: yellow;
}

.bg_beige {
  background-color: beige;
}

.text_white {
  color: white;
}
