/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
}

/* layout css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* size css */
.width_100 {
  width: 100%;
}

/* colour css */
.bg_marine_blue {
  background-color: #036f8c;
}

.bg_bright_pink {
  background-color: #ff0084;
}

.bg_yellow {
  background-color: yellow;
}