/* css for specific elements */

/* ======================= IMG HEADER ======================= */
#img_header {
  /* width & height*/
  width: 70%;
  height: 400px;

  /* object position */
  object-fit: cover;
  object-position: 100% 50%;

  /* opacity */
  opacity: 0.7;
}

/* tablet mode */
@media (max-width: 900px) {
  #img_header {
    /* change object-position */
    object-position: 70% 50%;
  }
}

/* smartphone mode */
@media (max-width: 500px) {
  #img_header {
    /* adapt width */
    width: 90%;

    /* object position */
    object-fit: cover;
    object-position: 60% 50%;

    /* increase vertical margin */
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* at 300 pixes or lower - no image */
@media (max-width: 300px) {
  #img_header {
    display: none;
  }
}

/* ======================= GRID ELEMENTS ======================= */
.card {
  /* width */
  height: 320px;
}

.card img {
  max-height: 300px;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "header_text header_text header_text header_text header_text header_text"
    "header_img header_img header_img header_img header_img header_img"
    "item1 item2 item3 item4 item5 item6";
}

.header_text {
  grid-area: header_text;
}

.header_img {
  grid-area: header_img;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

/* tablet mode */
@media (max-width: 1000px) {
  .grid_container {
    grid-template-areas:
      "header_text header_text header_text"
      "header_img header_img header_img"
      "item1 item2 item3 "
      "item4 item5 item6 ";
  }
}

/* smartphone mode */
@media (max-width: 450px) {
  .grid_container {
    grid-template-areas:
      "header_text"
      "header_img"
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7";
  }
}
